@model List<ResultTestimonialDto>

<section class="ftco-section testimony-section bg-light">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 text-center heading-section ftco-animate">
                <span class="subheading">Bizim İçin Ne Dediler</span>
                <h2 class="mb-3">Mutlu Müşteriler</h2>
            </div>
        </div>
        <div class="row ftco-animate">
            <div class="col-md-12">
                <div class="carousel-testimony owl-carousel ftco-owl">
                    @foreach (var item in Model)
                    {
                        <div class="item">
                            <div class="testimony-wrap rounded text-center py-4 pb-5">
                                <div class="user-img mb-2" style="background-image: url(@item.ImageUrl)">
                                </div>
                                <div class="text pt-4">
                                    <p class="mb-4">@item.Comment</p>
                                    <p class="name">@item.Name</p>
                                    <span class="position">@item.Title</span>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>