@model List<ResultFooterAddressDto>
@foreach(var item in Model){
<div class="col-md-4">
    <div class="row mb-5">
        <div class="col-md-12">
            <div class="border w-100 p-4 rounded mb-2 d-flex">
                <div class="icon mr-3">
                    <span class="icon-map-o"></span>
                </div>
                <p><span>Adres:</span> @item.Address</p>
            </div>
        </div>
        <div class="col-md-12">
            <div class="border w-100 p-4 rounded mb-2 d-flex">
                <div class="icon mr-3">
                    <span class="icon-mobile-phone"></span>
                </div>
                    <p><span>Telefon:</span> <a href="tel://@item.Phone">@item.Phone</a></p>
            </div>
        </div>
        <div class="col-md-12">
            <div class="border w-100 p-4 rounded mb-2 d-flex">
                <div class="icon mr-3">
                    <span class="icon-envelope-o"></span>
                </div>
                <p><span>Email:</span> <a href="mailto:@item.Email">@item.Email</a></p>
            </div>
        </div>
    </div>
</div>
}