<section class="ftco-section ftco-no-pt bg-light">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-12	featured-top">
                <div class="row no-gutters">
                    <div class="col-md-4 d-flex align-items-center">
                        <form method="post" class="request-form ftco-animate bg-primary">
                            <h2>Şimdi Aracınızı Kiralayın</h2>
                            <div class="form-group">
                                <label for="" class="label">Alınacak Lokasyon</label>
                                <input type="text" class="form-control" placeholder="City, Airport, Station, etc">
                            </div>
                            
                            <div class="d-flex">
                                <div class="form-group mr-2">
                                    <label for="" class="label">Alınmak İstenen Tarih</label>
                                    <input type="text" class="form-control" id="book_pick_date" placeholder="Date">
                                </div>
                                <div class="form-group ml-2">
                                    <label for="" class="label">İade Tarihi</label>
                                    <input type="text" class="form-control" id="book_off_date" placeholder="Date">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="label">Alış Saati</label>
                                <input type="text" class="form-control" id="time_pick" placeholder="Time">
                            </div>
                            <div class="form-group">
                                <label for="" class="label">İade Saati</label>
                                <input type="text" class="form-control" name="v" id="time_pick" placeholder="Time">
                            </div>
                            <div class="form-group">
                                <a href="/RentACarList/Index/" class="btn btn-secondary py-3 px-4">Uygun Araçları Listele</a>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-8 d-flex align-items-center">
                        <div class="services-wrap rounded-right w-100">
                            <h3 class="heading-section mb-4">Araç Kiralamanın En Basit Yolu</h3>
                            <div class="row d-flex mb-4">
                                <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                                    <div class="services w-100 text-center">
                                        <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-route"></span></div>
                                        <div class="text w-100">
                                            <h3 class="heading mb-2">Almak İstediğin Konumu Seç</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                                    <div class="services w-100 text-center">
                                        <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-handshake"></span></div>
                                        <div class="text w-100">
                                            <h3 class="heading mb-2">En Uygun Araçları Gör</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                                    <div class="services w-100 text-center">
                                        <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-rent"></span></div>
                                        <div class="text w-100">
                                            <h3 class="heading mb-2">Kiralamayı Tamamla, Hepsi Bu!</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p><a href="#" class="btn btn-primary py-3 px-4">Reserve Your Perfect Car</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>