@model List<ResultBannerDto>

@foreach(var item in Model)
{
<div class="hero-wrap ftco-degree-bg" style="background-image: url('/carbook-master/images/bg_1.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text justify-content-start align-items-center justify-content-center">
            <div class="col-lg-8 ftco-animate">
                <div class="text w-100 text-center mb-md-5 pb-md-5">
                    <h1 class="mb-4">@item.Title</h1>
                    <p style="font-size: 18px;">@item.Description</p>
                    <a href="@item.VideoUrl" class="icon-wrap popup-vimeo d-flex align-items-center mt-4 justify-content-center">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="ion-ios-play"></span>
                        </div>
                        <div class="heading-title ml-5">
                            <span>@item.VideoDescription</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
}