@model CreateFeatureDto

@{
    ViewData["Title"] = "CreateFeature";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Yeni Araç Özelliği Girişi</h4>
                        <p class="card-subtitle mb-4">Araç ile ilgili özellikleri aşadağıki kutucağa giebilirsiniz. Veri girişinden sonra kaydet butonuna tıklayarak işlemi tamamlayabilirsiniz.</p>
                        <form method="post">
                            <div class="form-group">
                                <label for="exampleInputName">Özellik Adı</label>
                                <input type="text" class="form-control" id="exampleInputName" asp-for="Name" placeholder="Özellik Adı Girişi Yapınız">
                            </div>
                            <button type="submit" class="btn btn-primary waves-effect waves-light">Özelliği Kaydet</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>