@model List<UdemyCarBook.Dto.AuthorDtos.GetAuthorByBlogAuthorIdDto>

@foreach (var item in Model)
{
    <div class="about-author d-flex p-4 bg-light">
        <div class="bio mr-5">
            <img src="@item.AuthorImageUrl" alt="Image placeholder" class="img-fluid mb-4">
        </div>
        <div class="desc">
            <h3>@item.AuthorName</h3>
            <p>@item.AuthorDescription</p>
        </div>
    </div>
}