@model List<FilterRentACarDto>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/Index.cshtml";
}

<section class="ftco-section bg-light">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4">
                    <div class="car-wrap rounded ftco-animate">
                        <div class="img rounded d-flex align-items-end" style="background-image: url(@item.CoverImageUrl);">
                        </div>
                        <div class="text">
                            <h2 class="mb-0"><a href="car-single.html">@item.Model</a></h2>
                            <div class="d-flex mb-3">
                                <span class="cat">@item.Brand</span>
                                <p class="price ml-auto">000 <span>/Günlük</span></p>
                            </div>
                            <p class="d-flex mb-0 d-block"><a href="#" class="btn btn-primary py-2 mr-1">Hemen Kirala</a> <a href="car-single.html" class="btn btn-secondary py-2 ml-1">Detaylar</a></p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>