@model List<ResultCarFeatureByCarIdDto>

<div class="tab-pane fade show active" id="pills-description" role="tabpanel" aria-labelledby="pills-description-tab">
	<div class="row">
		
		<div class="col-md-4">
			<ul class="features">
				@foreach(var item in Model)
				{
					if (item.Available == true)
					{
						<li class="check"><span class="ion-ios-checkmark"></span>@item.FeatureName</li>
					}
					else
					{
						<li class="remove"><span class="ion-ios-checkmark"></span>@item.FeatureName</li>
					}
				}
			</ul>
		</div>
		
	</div>
</div>