@model List<ResultLast3BlogsWithAuthors>

<div class="sidebar-box ftco-animate">
    <h3>Son Bloglar</h3>
    @foreach (var item in Model)
    {
        <div class="block-21 mb-4 d-flex">
            <a class="blog-img mr-4" style="background-image: url(/carbook-master/images/image_1.jpg);"></a>
            <div class="text">
                <h3 class="heading"><a href="#">@item.Title</a></h3>
                <div class="meta">
                    <div><a href="#"><span class="icon-calendar"></span> @item.CreatedDate.ToShortDateString()</a></div>
                    <div><a href="#"><span class="icon-person"></span> @item.AuthorName</a></div>
                    <div><a href="#"><span class="icon-chat"></span> 0</a></div>
                </div>
            </div>
        </div>
    }
</div>