@model UdemyCarBook.Dto.CarDescriptionDtos.ResultCarDescriptionByCarIdDto

<div class="tab-pane fade" id="pills-manufacturer" role="tabpanel" aria-labelledby="pills-manufacturer-tab">
	<p>@Model.Details</p>
</div>