<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <div class="navbar-brand-box">
            <a href="index.html" class="logo">
                <i class="mdi mdi-alpha-x-circle"></i>
                <span>
                    BookCar Admin
                </span>
            </a>
        </div>

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title">Menü</li>

                <li><a href="/Admin/AdminDashboard/Index/" class="waves-effect"><i class="feather-airplay"></i><span>Dashboard</span></a></li>
                <li><a href="/Admin/AdminStatistics/Index" class="waves-effect"><i class="fas fa-chart-pie"></i><span>İstatistikler</span></a></li>
                <li><a href="/Default/Index/" class="waves-effect"><i class="fas fa-home"></i><span>Siteye Git</span></a></li>
                <li><a href="/AdminCar/Index/" class="waves-effect"><i class="fas fa-car"></i><span>Araba İşlemleri</span></a></li>
                <li><a href="/AdminFeature/Index/" class="waves-effect"><i class="fas fa-bus"></i><span>Araba Özellikleri</span></a></li>
                <li><a href="/AdminBrand/Index/" class="waves-effect"><i class="fas fa-business-time"></i><span>Markalar</span></a></li>
                <li><a href="/Admin/AdminBanner/Index/" class="waves-effect"><i class="fas fa-broom"></i><span>Banner Alanı</span></a></li>
                <li><a href="/Admin/AdminAbout/Index/" class="waves-effect"><i class="fas fa-info"></i><span>Hakkımızda</span></a></li>
                <li><a href="/Admin/AdminAuthor/Index/" class="waves-effect"><i class="fas fa-pencil-alt"></i><span>Yazar İşlemleri</span></a></li>
                <li><a href="/Admin/AdminCategory/Index/" class="waves-effect"><i class="fas fa-certificate"></i><span>Blog Kategorileri</span></a></li>
                <li><a href="/Admin/AdminBlog/Index/" class="waves-effect"><i class="fas fa-blog"></i><span>Blog İşlemleri</span></a></li>
                <li><a href="/Admin/AdminPricing/Index/" class="waves-effect"><i class="fas fa-money-bill-alt"></i><span>Ödeme Türleri</span></a></li>
                <li><a href="#" class="waves-effect"><i class="fas fa-comment-dots"></i><span>Yorumlar</span></a></li>
                <li><a href="/Admin/AdminContact/Index/" class="waves-effect"><i class="fas fa-phone"></i><span>İletişim</span></a></li>
                <li><a href="/Admin/AdminFooterAddress/Index/" class="waves-effect"><i class="fas fa-map-marked-alt"></i><span>Alt Adres</span></a></li>
                <li><a href="/Admin/AdminLocation/Index/" class="waves-effect"><i class="fas fa-map-marker-alt"></i><span>Lokasyonlar</span></a></li>
                <li><a href="/Admin/AdminService/Index/" class="waves-effect"><i class="fas fa-anchor"></i><span>Hizmetler</span></a></li>
                <li><a href="/Admin/AdminSocialMedia/Index/" class="waves-effect"><i class="fas fa-tv"></i><span>Sosyal Medya</span></a></li>
                <li><a href="/Admin/AdminTestimonial/Index/" class="waves-effect"><i class="fas fa-people-carry"></i><span>Referanslar</span></a></li>
                <li><a href="#" class="waves-effect"><i class="fas fa-hashtag"></i><span>Etiket Bulutu</span></a></li>
                <li><a href="#" class="waves-effect"><i class="fas fa-plug"></i><span>Ayarlar</span></a></li>
                <li><a href="#" class="waves-effect"><i class="fas fa-window-close"></i><span>Çıkış Yap</span></a></li>             
            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>