
<div class="comment-form-wrap pt-5">
    <h3 class="mb-5">Bir Yorum Yapın</h3>
    <form method="post" asp-action="AddComment" asp-controller="Blog" class="p-5 bg-light">
        <div class="form-group">
            <label for="name">Adınız Soyadınız *</label>
            <input type="text" Name="Name" class="form-control" id="name">
        </div>
        <input type="hidden" name="BlogID" value="@ViewBag.blogid" />
        <div class="form-group">
            <label for="email">Email Adresi *</label>
            <input type="email" Name="Email" class="form-control" id="email">
        </div>
        <div class="form-group">
            <label for="message">Yorumunuz</label>
            <textarea Name="Description" id="message" cols="30" rows="10" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <input type="submit" value="Yorum Yap" class="btn py-3 px-4 btn-primary">
        </div>
    </form>
</div>