@model List<ResultCategoryDto>
<div class="sidebar-box ftco-animate">
    <div class="categories">
        <h3>Kategoriler</h3>
        @foreach(var item in Model){
        <li><a href="#">@item.Name<span>(0)</span></a></li>
        }
    </div>
</div>