@model List<ResultServiceDto>

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 text-center heading-section ftco-animate">
                <span class="subheading">Hizmetler</span>
                <h2 class="mb-3">Sizin İçin Hizmetlerimiz</h2>
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-3">
                    <div class="services services-2 w-100 text-center">
                        <div class="icon d-flex align-items-center justify-content-center"><span class="@item.IconUrl"></span></div>
                        <div class="text w-100">
                            <h3 class="heading mb-2">@item.Title</h3>
                            <p>@item.Description</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>