@model List<ResultPricingDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}


<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Ödeme Türleri Alanı</h4>
                        <p class="card-subtitle mb-4">
                            Araçların günlük, kiralık, aylık veya benzeri kiralama opsiyonlarının yer aldığı sayfadır. Bu sayfa üzerinden yeni bir zaman periyodu eklenebilir, silinebilir veya güncellenebilir.
                        </p>
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Periyot Adı</th>
                                        <th>Sil</th>
                                        <th>Güncelle</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        count++;
                                        <tr>
                                            <td>@count</td>
                                            <td>@item.Name</td>
                                            <td><a href="/Admin/AdminPricing/RemovePricing/@item.PricingID" class="btn btn-outline-danger">Sil</a></td>
                                            <td><a href="/Admin/AdminPricing/UpdatePricing/@item.PricingID" class="btn btn-outline-success">Güncelle</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <a href="/Admin/AdminPricing/CreatePricing" class="btn btn-outline-primary">Yeni Ödeme Türü Girişi</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>