@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        @await Component.InvokeAsync("_AdminDashboardStatisticsComponentPartial")
        <div class="row">
            @await Component.InvokeAsync("_AdminDashboardChart2ComponentPartial")
            @await Component.InvokeAsync("_AdminDashboardChart1ComponentPartial")
            @await Component.InvokeAsync("_AdminDashboardChart3ComponentPartial")
        </div>
        <div class="row">
            @await Component.InvokeAsync("_AdminDashboardCarPricingListComponentPartial")
            @await Component.InvokeAsync("_AdminDashboardBlogListComponentPartial")
        </div>
    </div>
</div>