<section class="ftco-section ftco-intro" style="background-image: url(/carbook-master/images/bg_3.jpg);">
	<div class="overlay"></div>
	<div class="container">
		<div class="row justify-content-end">
			<div class="col-md-6 heading-section heading-section-white ftco-animate">
				<h2 class="mb-3">Acelenez mi var? Araç sürmeye vaktiniz mi yok?</h2>
				<a href="/RentADriver/Index/" class="btn btn-primary btn-lg">Bir Sürücü Kirayalın</a>
			</div>
		</div>
	</div>
</section>