@model List<ResultLast3BlogsWithAuthors>

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <span class="subheading">Bloglar</span>
                <h2>Son Bloglar</h2>
            </div>
        </div>
        <div class="row d-flex">
            @foreach (var item in Model){
            <div class="col-md-4 d-flex ftco-animate">
                    <div class="blog-entry justify-content-end">
                        <a href="/Blog/BlogDetail/@item.BlogID" class="block-20" style="background-image: url('@item.CoverImageUrl');">
                        </a>
                        <div class="text pt-4">
                            <div class="meta mb-3">
                                <div><a href="#">@item.CreatedDate.ToShortDateString()</a></div>
                                <div><a href="#">@item.AuthorName</a></div>
                            </div>
                            <h3 class="heading mt-2"><a href="#">@item.Title</a></h3>
                            <p><a href="/Blog/BlogDetail/@item.BlogID" class="btn btn-primary">Devamını Oku</a></p>
                        </div>
                    </div>
                </div>

                }

            </div>
        </div>
    </section>