<div class="sidebar-box">
    <form action="#" class="search-form">
        <div class="form-group">
            <span class="icon icon-search"></span>
            <input type="text" class="form-control" placeholder="Aranacak kelimeyi giriniz...">
        </div>
    </form>
</div>