@model CreateBrandDto

@{
    ViewData["Title"] = "CreateBrand";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Yeni Araç Marka Girişi</h4>
                        <p class="card-subtitle mb-4">Marka ile ilgili bilgileri aşadağıki kutucağa giebilirsiniz. Veri girişinden sonra kaydet butonuna tıklayarak işlemi tamamlayabilirsiniz.</p>
                        <form method="post">
                            <div class="form-group">
                                <label for="exampleInputName">Marka Adı</label>
                                <input type="text" class="form-control" id="exampleInputName" asp-for="name" placeholder="Marka Adı Girişi Yapınız">
                            </div>
                            <button type="submit" class="btn btn-primary waves-effect waves-light">Markayı Kaydet</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
