@model List<ResultBrandDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Araba Markaları Listesi</h4>
                        <p class="card-subtitle mb-4">
                            Arabalarla ilgili marka listesi, markalar üzerinde düzenleme ve bir markayı kaldırma işlemini buradan gerçekleştirebilirsiniz.
                        </p>
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Marka Adı</th>
                                        <th>Sil</th>
                                        <th>Güncelle</th>
                                        <th>Markaya Ait Araçlar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        count++;
                                        <tr>
                                            <th scope="row">@count</th>
                                            <td>@item.name</td>
                                            <td><a href="/AdminBrand/RemoveBrand/@item.brandID" class="btn btn-outline-danger">Sil</a></td>
                                            <td><a href="/AdminBrand/UpdateBrand/@item.brandID" class="btn btn-outline-success">Güncelle</a></td>
                                            <td><a href="/AdminBrand/UpdateBrand/@item.brandID" class="btn btn-outline-dark">Markaya Ait Araçlar</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <a href="/AdminBrand/CreateBrand/" class="btn btn-outline-primary">Yeni Marka Girişi</a>
                        </div>

                    </div>
                    <!-- end card-body-->
                </div>
                <!-- end card -->

            </div>
            <!-- end col -->

        </div>
        <!-- end page title -->

    </div> <!-- container-fluid -->
</div>

