@model List<ResultFooterAddressDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">İletişim ve Footer Alanı Adres Sayfası</h4>
                        <p class="card-subtitle mb-4">
                            İletişim ve Footer kısımlarında yer alan adres bilgilerine ait işlemleri bu sayfadan gerçekleştirebilirsiniz. Harita bilgisini lokasyon değeri olarak Google Map üzerinden alabilirsiniz.
                        </p>
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>Adres</th>
                                        <th>Telefon</th>
                                        <th>E-Mail</th>
                                        <th>Açıklama</th>
                                        <th>Sil</th>
                                        <th>Güncelle</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.Address</td>
                                            <td>@item.Phone</td>
                                            <td>@item.Email</td>
                                            <td>@item.Description</td>
                                            <td><a href="/Admin/AdminFooterAddress/RemoveFooterAddress/@item.FooterAddressID" class="btn btn-outline-danger">Sil</a></td>
                                            <td><a href="/Admin/AdminFooterAddress/UpdateFooterAddress/@item.FooterAddressID" class="btn btn-outline-success">Güncelle</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <a href="/Admin/AdminFooterAddress/CreateFooterAddress" class="btn btn-outline-primary">Yeni Adres Girişi</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
